## use vi mode on commandline
set editing-mode vi

## allow to search based on partial input
"\e[A":history-search-backward
"\e[B":history-search-forward

## imporve tab-completion
set show-all-if-ambiguous on
set completion-ignore-case on
set completion-map-case on
